<mat-card>
  <mat-card-header class="head">
    <h1>Edit User</h1>
  </mat-card-header>
  <hr />
  <mat-card-content>
    <form
      appearance="outline"
      [formGroup]="registerForm"
      (ngSubmit)="updateUser()"
    >
      <p>
        <mat-form-field appearance="outline">
          <mat-label>User name</mat-label>
          <input class="readonly" matInput formControlName="id" type="text" readonly />
          <mat-icon matSuffix color="primary">account_circle</mat-icon>
          <!-- <mat-hint>Hint</mat-hint> -->
        </mat-form-field >
      </p>
      <div class="active">

          <mat-slide-toggle formControlName="isActive">Active</mat-slide-toggle>

      </div>
      <div class="role-container">
        <span>Role:</span>
        <mat-radio-group aria-label="Select an option" formControlName="role">
          <mat-radio-button value="admin">Admin</mat-radio-button>
          <mat-radio-button value="">User </mat-radio-button>
        </mat-radio-group>
      </div>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" />
          <mat-icon matSuffix color="primary">person</mat-icon>
          <!-- <mat-hint>Hint</mat-hint> -->
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" type="email" />
          <mat-icon matSuffix color="primary">mail</mat-icon>
          <!-- <mat-hint>Hint</mat-hint> -->
        </mat-form-field>
      </p>
      <div>
        <div class="gender-container">
          <span>Gender:</span>
          <mat-radio-group
            aria-label="Select an option"
            formControlName="gender"
          >
            <mat-radio-button value="male"
              ><mat-icon matSuffix color="primary"
                >man_4</mat-icon
              ></mat-radio-button
            >
            <mat-radio-button value="female"
              ><mat-icon matSuffix color="accent">woman_2</mat-icon>
            </mat-radio-button>
          </mat-radio-group>
        </div>
      </div>

      <hr />
      <div class="example-button-row">
        <button mat-raised-button color="primary">
          <mat-icon>send</mat-icon>
          Update
        </button>
        <a mat-dialog-close mat-raised-button>
          <mat-icon> keyboard_backspace </mat-icon>
          Go back
        </a>
      </div>
    </form>
  </mat-card-content>
</mat-card>
